body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'EB Garamond', serif;
}

nav {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: #BB8484;
    color: white;
}

input {
    margin: 0.2rem 0;
    width: 100%;
    padding: 0.2rem 0.3rem;
    font-family: 'EB Garamond', serif;
}

input[placeholder] {
    font-size: 1rem;
}

button {
    background-color: #bb8484;
    color: white;
    padding: 0.4rem 0.7rem;
    border: white;
    border-radius: 7px;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration-color: white;
    text-decoration: underline;
}

.login {
    align-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
}

.left {
    font-size: 1.5rem;
}

.right {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.right div {
    margin-left: 1rem;
}

.cwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 50vw;
    font-size: 1.5rem;
}

.cleft,
.cright {
    width: 44%;
}

.rtext {
    margin-left: 2rem;
}

.sec1 {
    display: flex;
    padding: 2rem;
}

.sec1 h2 {
    margin-top: 0;
}

.sec1 p {
    margin-bottom: 0;
    text-align: justify;
}

.bg {
    background-image: url("http://127.0.0.1:5000/static/images/home.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    margin: 1rem 1rem 0 1rem;
}

.text {
    width: 60vw;
    border-radius: 2rem 0;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.767);
}

.text h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.text p {
    margin-bottom: 0;
    text-align: justify;
    font-size: 1.3rem;
}